<nav class='nav-container'>
  <div class='col-xs-12 col-sm-12 col-md-12 inline-flex'>
    <div class='hidden-xs col-sm-2 col-md-4'>
      <logo></logo>
    </div>
    <!--If user is not logged in -->
    <div *ngIf='!_isLogged' class='col-xs-12 col-sm-10 col-md-8'>
      <div class='offset-sm-6 offset-md-9'>
        <div class='btn-container'>
          <button routerLink='/signUp' class='btn-xs btn btn-primary'>Sign Up</button>
          <button routerLink='/login' class='btn btn-success'>Log In</button>
        </div>
      </div>
    </div>

    <!--If user is logged -->
    <div *ngIf='_isLogged' class='col-xs-12 col-sm-10 col-md-8'>
      <div class='offset-sm-6 offset-md-9'>
        <div class='btn-container'>
          <button routerLink='/newProject' class='btn-xs btn btn-success'>New Project</button>
          <button routerLink='/login' (click)='logout()' class='btn-xs btn btn-danger'>Log Out</button>
        </div>
      </div>
    </div>
    <!-- If Project is opened -->
    <div *ngIf='_isProjectOpened' class='col-xs-12 col-sm-10 col-md-8'>
      <div class='offset-sm-6 offset-md-9'>
        <div class='btn-container'>
          <button routerLink='/newProject' class='btn-xs btn btn-success'>New Task</button>
        </div>
      </div>
    </div>
  </div>
</nav>