<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <div *ngIf='this.role =="Owner"'>
    <a href='javascript:void(0)' (click)='createTeam(createTeamModal)'>Create Team</a>
    <a href="javascript:void(0)" (click)='createTask()'>Create New Task</a>
    <a href="javascript:void(0)" (click)='addUser(addUserModal)'>Add user to Project</a>
    <a href="javascript:void(0)" (click)='removeUser(removeUserModal)'>Remove user from Project</a>
  </div>
  <div *ngIf='this.role=="Team Leader"'>
    <a href="javascript:void(0)" (click)='createTask()'>Create New Task</a>
  </div>

  <a href="javascript:void(0)" (click)='openReport()'>Open report</a>
  <!-- <a href="javascript:void(0)">View progress</a> -->

</div>

<add-or-remove-user-modal (userActionEvent)='addUserModal.update($event)' #removeUserModal [projectId]='this.projectId'></add-or-remove-user-modal>
<add-user-to-project-modal (userActionEvent)='removeUserModal.update($event)' #addUserModal [projectId]='this.projectId'></add-user-to-project-modal>
<create-team-modal #createTeamModal (userActionEvent)='createTeamModal.update($event)' [projectId]='this.projectId'></create-team-modal>