<div *ngIf='_project' class="container card board-container" >
  <div class='container'>
    <div style='padding:1em;'class="card-block">
      <h4 class="card-title">{{_project.name}}</h4>
      <p class="card-text">Number of participans: {{_project.participians.length + _project.owners.length}}</p>
      <label *ngIf="isUserOwner()" class='alert alert-success'>User status: <strong>Owner</strong></label>
      <label *ngIf="!isUserOwner()" class='alert alert-info'>User status:
        <strong>{{role}}</strong>
      </label>
      <button  class="btn btn-primary" (click)='openProject()'>Open project</button>
    </div>
</div>