.task-panel{
    color:white;
    background-image:url('/assets/taskBg.jpeg');
    width:100%;
    height:100vh;
    overflow-x: auto;
    overflow-y: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
span{
    white-space: normal;
}
.task-card{
    background: transparent;
    background-color: #e2e4e6;
    border-radius:25px;
    padding:10px;
    margin:15px;
    height: fit-content;
    width:250px;
}
.card-header{
    width:100%;
    min-height:50px;
    color:#333;
    font-weight: 600;
    text-align: center;
    font-size: 22px;
}
.card-body{
 color:#333;
 text-align: center;
 background-color: #eef0f1;
 width:100%;
 padding:0;
 padding-bottom:20px;
 margin-bottom:10px;
}
.buttons-container{
    float:right;
    padding-right: 5px;

}

.buttons-container > button{
    border-radius: 15px;
    line-height: 1.42;
    padding:6px 0;
    width:15px;
    height: 15px;
}

.paused{
    background-color: #f16666;
}
.working{
    background-color: #e7c14e;
}

.finished{
    background-color:#4ef074;
}

.container-scrollable{
    margin:10px;
    display: -webkit-box;
}

.wrapper{
    display: inherit;
}

.chat-fixed{
    position: fixed;
    right:0;
    bottom:0;
}