<modal #addUserModal>
  <ng-template #modalHeader>
    <h2>Add users to project</h2>
  </ng-template>
  <ng-template #modalBody>
    <div class='row'>
      <div class='col-xs-12 col-sm-12 col-md-12'>
        <div class="table-responsive">
          <table class='table table-striped'>
            <thead>
              <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Add</th>
              </tr>
            </thead>
            <tbody *ngIf='this._users'>
              <tr *ngFor='let user of this._users | paginate: {itemsPerPage:4,currentPage:page}'>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>
                  <button (click)='onUserActionHandler(user)' class='btn btn-success btn-md'>
                    <strong>+</strong>
                  </button>
                </td>
              </tr>
              <div class='paginator col-xs-12 col-sm-12 col-md-12'>
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
              </div>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-template>
</modal>