<div>
  <sidebar [projectId]='_projectId' #sidebar (onTaskCreate)='this._createTask = true' [role]='this._role' (sidebarClosed)='this._sidebarOpened=false'></sidebar>
</div>

<div dragScroll class='task-panel'>
  <div>
    <div *ngIf='!this._sidebarOpened'>
      <span style="margin-left:5px; font-size:30px;cursor:pointer" (click)="openSidebar(sidebar)">&#9776;</span>
    </div>
  </div>
  <div class='container-scrollable'>
    <div dnd-droppable (onDropSuccess)="transferDataSuccess($event)" style='display:inherit' *ngIf='_tasks'>
      <add-user-to-task-modal #addUserToTaskModal [projectId]='this._projectId' [role]='this._role'></add-user-to-task-modal>
      <empty-task *ngIf='this._createTask' (taskCreated)='this._createTask = false' [projectId]='this._projectId' [projectOwner]='this._userID'></empty-task>
      <div dnd-draggable [dragEnabled]="true" [dragData]="task" *ngFor='let task of _tasks; let i = index' class='panel panel-default task-card'>
        <div *ngIf='this._isProjectOwner == "true" || this._role=="Team Leader"' class='float-right'>
          <button class='btn btn-success btn-sm' (click)='addUserToTask(addUserToTaskModal,task)'>
            <strong>+</strong>
          </button>
        </div>
        <div class='card-header'>
          <span>{{task.name}}</span>
        </div>
        <div *ngFor='let subTask of task.body; let i = index'>
          <div id='card-body' *ngIf="task.completness[i]=='paused'" class='card-body paused'>
            <div class='buttons-container'>
              <button class='btn btn-sm btn-success round' (click)='setTaskFinished(task,i)'></button>
              <button class='btn btn-sm btn-warning round' (click)='setTaskWorking(task,i)'></button>
              <button class='btn btn-sm btn-danger round' (click)='setTaskPaused(task,i)'></button>
            </div>
            <br/>
            <div class='card-content'>
              <span style='white-space:normal;'>{{subTask}}</span>
            </div>
          </div>

          <div id='card-body' *ngIf="task.completness[i]=='working'" class='card-body working'>
            <div class='buttons-container'>
              <button class='btn btn-sm btn-success round' (click)='setTaskFinished(task,i)'></button>
              <button class='btn btn-sm btn-warning round' (click)='setTaskWorking(task,i)'></button>
              <button class='btn btn-sm btn-danger round' (click)='setTaskPaused(task,i)'></button>
            </div>
            <br/>
            <div class='card-content'>
              <span>{{subTask}}</span>
            </div>
          </div>

          <div id='card-body' *ngIf="task.completness[i]=='finished'" class='card-body finished'>
            <div class='buttons-container'>
              <button class='btn btn-sm btn-success round' (click)='setTaskFinished(task,i)'></button>
              <button class='btn btn-sm btn-warning round' (click)='setTaskWorking(task,i)'></button>
              <button class='btn btn-sm btn-danger round' (click)='setTaskPaused(task,i)'></button>
            </div>
            <br/>
            <div class='card-content'>
              <span>{{subTask}}</span>
            </div>
          </div>
        </div>
        <div>
          <div *ngIf='this._isProjectOwner == "true" || this._role=="Team Leader"' class='form-group'>
            <textarea id='subtask' #subTask (keyup)='addSubtask($event,task,subTask.value)' class='form-control' type='text-content'
              placeholder='Enter subtask content...' #subTask></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='chat-fixed'>
    <div class='float-right'>
      <chat></chat>
    </div>
  </div>
</div>